
.main-menu {
    background:$menubackground;
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 4px 4px rgba(0,0,0,0.05), 
              0 8px 8px rgba(0,0,0,0.05),
              0 16px 16px rgba(0,0,0,0.05);
    z-index: 10;

    a {
        color: #333;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    li {
        list-style: none;
        margin: 0;
        padding: 8px 24px;
        font-size: 1.5rem;
        position: relative;

        @media all and (max-width: $screen-medium) {
            padding: 8px 16px;
        }

        a {
            text-decoration: none;
        }

        ul {
            padding-left: 0;
            display: none;
            position: absolute;
            background: $menubackground;
            list-style: none;
            left: 0;
            top: 34px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 4px 4px rgba(0,0,0,0.05), 
              0 8px 8px rgba(0,0,0,0.05),
              0 16px 16px rgba(0,0,0,0.05);

            li {
                width: 185px;
                display:list-item;
                position: relative;

                ul {
                    left: 185px;
                    top: 0;
                    li {
                        width: auto;
                        white-space: nowrap;
                    }
                }
            }
        }

        &:hover > ul {
        	display:inherit;
        }

        &.menu-admin {
            background-color: #fff3c6;
        }
    }


    // off screen menu on small devices (< 700px)
    @media screen and (max-width: $screen-small) {
        flex-direction: column;
        width: 280px;
        position: absolute;
        top: 0;
        transition: all 0.2s ease;
        transform: translateX(-280px);

        li ul {
            padding-left: 0;
            display: none;
            position: relative;
            margin-left: -16px;
            margin-right: -16px;
            margin-top: 8px;
            background-color: #f2f3f4;
            top: 0;
            box-shadow: none;
            li {
                width: 100%;

                ul {
                    left: 0;
                    background-color: white;
                    border-bottom: 1px solid #ccc;
                    li {
                        width: auto;
                        white-space: normal;
                    }
                }
            }
        }
    }
}